.FirstRow {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.SecondRow {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.RegistrationField {
  margin-left: 10px;
  margin-right: 10px;
}

.MoreInfoHeader {
  width: 100%;
  text-align: center;
  margin-top: -7%;
  margin-bottom: 5%;
  font-size: 35px;
}

.Stepper {
  margin-bottom: 40px;
}

.ActionRow {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.RegistrationRightButton {
  margin-left: auto !important;
  margin-right: 10px !important;
}
