.Header {
  width: 100%;
  height: 4.5em;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.HeaderElement {
  margin-left: 3%;
  text-decoration: none;
  color: white;
}

.HeaderElementSelected {
  margin-left: 3%;
  color: white;
  text-decoration: underline;
}

.HeaderElement:hover {
  text-decoration: underline;
}

.RightHeaderElement {
  text-decoration: none;
  margin-left: 30px;
  color: white;
}

.RightHeaderElementSelected {
  margin-left: 30px;
  text-decoration: none;
  color: white;
  text-decoration: underline;
}

.RightHeaderElement:hover {
  text-decoration: underline;
}

.RightLinksContainer {
  margin-left: auto;
  margin-right: 3%;
}
