.Footer {
  background-color: #14181c;
  margin-top: 5%;
  margin-bottom: 0;
  width: 100%;
  display: flex;
  border-top: solid 1px black;
  min-height: 150px;
}

.FooterLogo {
  margin: auto;
  margin-left: 1%;
  width: 10%;
  font-size: 10px;
  text-align: center;
}

.SocialHeader {
  margin-bottom: 10%;
}

.SocialsWrapper {
  margin: auto;
  margin-right: 2%;
}

.SocialIcons {
  display: flex;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}
