.ZipOuterWrapper {
  padding-top: 2%;
  width: 100%;
  background-color: #445566;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
}

.FindButton {
  margin-left: 15px !important;
}

.ZipTextField {
  width: 17%;
}

.ErrorWrapper {
  height: 10px;
  width: 100%;
  margin-top: 1%;
  color: #ee4443;
}

.ProductSelect,
.DistanceSelect {
  margin-left: 5px;
}

.MapLogo {
  margin-left: 30px;
  margin-right: auto;
}

.FieldWrapper {
  margin: auto;
}
