.OuterWrapper {
  background-color: #445566;
  border-radius: 10px;
  text-align: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.MapWrapper {
  height: 1000px;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #445566;
  margin-top: -70px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}
